* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    text-align: center;
}

img {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    display: block;
}

.header {
    display: block;
    background-color: white;
}

.site-logo {
    font-family: 'Roboto';
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    float: left;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.site-logo::first-letter {
    font-family: 'Roboto';
    font-weight: 900;
    color: #1abc9c;


}

.logo-navigation {
    margin-top: 25px;
    padding-bottom: 10px;
}

.navigation {
    vertical-align: middle;
}

.container {
    display: inline-block;
    width: 1110px;
    box-sizing: border-box;
    text-align: left;
}

.navigation-links {
    display: inline-block;
    float: right;
}

.nav-item {
    display: inline-block;
    padding-botton: 10px;
    padding-top: 0px;
}

.nav-list-link {
    display: inline-block;
    height: 38px;
    vertical-align: middle;
    float: right;
}

.nav-item a {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding-top: 8px;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}

.nav-list-link:hover {
    color: #1abc9c;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.slider {
    position: relative;
}

.slider-bg {
    width: 100%;
}

.slider-img {
    position: relative;
    width: 100%;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 2, 0.5);
    width: 100%;
    height: 100%;

}

.button {
    width: 1110px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-left,
.button-right {
    width: 105px;
    height: 105px;
    background-color: rgb(78, 198, 171);
    cursor: pointer;
    border-style: none;

}

.button-left:hover,
.button-right:hover {
    background-color: rgba(78, 198, 171, 0.65);
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

.button-image {
    display: inline-block;
    width: 25px;
    height: 35px;
    text-align: center;
}

.slider-title {
    width: 1110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-title-name {
    font-size: 60px;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
    color: #fff;
    padding-left: 180px;
}

.slider-title-text {
    font-size: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
    color: #fff;
    padding-left: 180px;
    padding-bottom: 60px;
}


.collection-title {
    margin-top: 100px;
    font-size: 48px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;

}

.collection-title::after {
    content: "";
    display: block;
    width: 160px;
    height: 7px;
    margin: auto;
    margin-top: 15px;
    background-color: #1abc9c;
}

.item-info-title,
.item-info-price {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.item-info-title {
    background-color: hsl(0, 0%, 20%);
    width: 78%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    line-height: 38px;
    font-family: "Roboto";
    font-weight: 900;
    box-sizing: border-box;
    padding-left: 12px;
    text-decoration: none;
    text-align: left;
}

.item-info {
    display: block;
    height: 50px;
    width: 255px;
    padding-bottom: 5px;
}

.item-info-price {
    width: 22%;
    background-color: hsla(0, 0%, 20%, 0.5);
    float: right;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;

}

.item:hover .item-info-title {
    background-color: rgb(26, 188, 156);
}

.item:hover .item-info-price {
    background-color: rgba(26, 188, 156, 0.5);
}

.slider-bg {
    width: 100%;
}

.item {
    float: left;
    position: relative;
    margin-bottom: 100px;
}

.collection {
    width: 100%;
    text-align: center;
    background-color: rgb(233, 240, 253);
}

.list-items-products {
    width: 1110px;
    margin-top: 80px;
    display: inline-block;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.overlay-collection {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 280px;
    width: 255px;
    background-color: rgba(0, 0, 0, 0.549);
    text-align: left;
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    background-clip: padding-box;
    display: none;
}

.item:hover .overlay-collection {
    display: block;
}


.overlay-list-item-button {
    width: 50px;
    height: 50px;
    background-color: rgba(26, 188, 156, 0);
    border-width: 1px;
    border-color: white;
    border-style: solid;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    display: block;
}

.overlay-list-item-button-like,
.overlay-list-item-button-compare {
    margin-right: 5px;
}

.overlay-list-item-button-cart {
    background-color: rgba(50, 50, 50, 0);
    width: 160px;
    background-position: 10px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.286;
    text-indent: 25px;
    margin-top: 5px;
}

.overlay-list-item-button:hover {
    background-color: rgba(26, 188, 156, 1);
    border: none;
}

.overlay-list-item-button-cart:hover {
    background-color: rgba(81, 81, 81, 1);
    border-width: 1px;
    border-color: white;
    border-style: solid;

}

.overlay-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
}

.overlay-list-item-button-like {
    background-image: url(../image/like.png);
}

.overlay-list-item-button-compare {
    background-image: url(../image/compare.png);
}

.overlay-list-item-button-time {
    background-image: url(../image/time.png);
}

.overlay-list-item-button-cart {
    background-image: url(../image/cart.png);
}

.footer {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(254, 254, 254);
    line-height: 1.75;
    text-align: center;
    background-color: rgb(50, 50, 50);
    height: 90px;
    line-height: 80px;
}

.footer-text {
    display: inline-block;
}

.footer-link {
    text-decoration: none;
    color: #46bfa9;
    display: inline-block;
}